<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Detalle de la orden de hospedaje</h2>
            </div>
            <div class="flex items-center ml-6">
                <!-- <button  [disabled]="isCallingService"  (click)="onShowFormRegistrarDeudaDialog()" class="hidden sm:inline-flex ml-3" mat-flat-button
                    [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">Nueva deuda</span>
                </button> -->

                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_mini:ellipsis-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item (click)="onShowFormRegistrarDeudaDialog()">Nueva deuda</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 xl:grid-cols-2 gap-2 w-full mt-4">
            <form [formGroup]="filtroListaClienteForm" class="flex flex-col px-6">
                <div class="flex flex-col w-full max-w-xs">

                    <!-- DNI -->
                    <mat-form-field class="w-full">
                        <input maxlength="8" matInput formControlName="dni" maxlength="8" placeholder="DNI">
                        <mat-error *ngIf="filtroListaClienteForm.get('dni').hasError('required')">DNI es
                            requerido</mat-error>

                        <mat-error *ngIf="filtroListaClienteForm.get('dni')?.hasError('onlyNumbersForm')">
                            Solo debe ingresar caracteres números
                        </mat-error>

                    </mat-form-field>

                    @if (tieneDatos) {


                    <!-- Nombre Huesped -->
                    <mat-form-field class="w-full">
                        <mat-label>Nombre Huesped</mat-label>
                        <input [disabled]="true" matInput formControlName="nombreHuesped" maxlength="8"
                            placeholder="Nombre Huesped" [readonly]="true">
                    </mat-form-field>

                    <!-- Apellido Huesped -->
                    <mat-form-field class="w-full">
                        <mat-label>Apellido Huesped</mat-label>
                        <input matInput formControlName="apellidoHuesped" maxlength="8" placeholder="Apellido Huesped"
                            [readonly]="true">
                    </mat-form-field>

                    <!-- Nro de Orden de Hospedaje -->
                    <mat-form-field class="w-full">
                        <mat-label>Nro de Orden de Hospedaje</mat-label>
                        <input matInput formControlName="nroOrdenHospedaje" maxlength="8"
                            placeholder="Nro de Orden de Hospedaje" [readonly]="true">
                    </mat-form-field>

                    <!-- Fecha de Ingreso -->
                    <mat-form-field class="w-full">
                        <mat-label>Fecha de ingreso</mat-label>
                        <input matInput formControlName="fechaIngreso" maxlength="20"
                            placeholder="Fecha de Ingreso al Hospedaje" [readonly]="true">
                    </mat-form-field>

                    <!-- Fecha de Salida -->
                    <mat-form-field class="w-full">
                        <mat-label>Fecha de salida</mat-label>
                        <input matInput formControlName="fechaSalida" maxlength="20"
                            placeholder="Fecha de Salida al Hospedaje" [readonly]="true">
                    </mat-form-field>

                    <!-- Nro de Habitacion -->
                    <mat-form-field class="w-full">
                        <mat-label>Nro de habitación</mat-label>
                        <input matInput formControlName="nroHabitacion" maxlength="10" placeholder="Nro de Habitacion"
                            [readonly]="true">
                    </mat-form-field>

                    <!-- Tipo de Habitacion -->
                    <mat-form-field class="w-full">
                        <mat-label>Tipo de habitación</mat-label>
                        <input matInput formControlName="tipoHabitacion" maxlength="10" placeholder="Tipo de Habitacion"
                            [readonly]="true">
                    </mat-form-field>

                    <!-- Tipo de Habitacion -->
                    <mat-form-field class="w-full">
                        <mat-label>Select un tipo de servicio</mat-label>
                        <mat-select [formControlName]="'tipoServicio'" placeholder="Tipo de Servicio"
                            #selectTipoServicioItem (selectionChange)="onTipoServicioChange($event)">
                            <mat-option *ngFor="let option of lstTipoServicio" [value]="option">
                                {{ option.tipoServicio }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    }
                    <button class="w-auto sm:w-48 sm:ml-4 m-2" mat-flat-button [color]="'primary'" type="button"
                        (click)="btnBuscar()" [disabled]="filtroListaClienteForm.invalid">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <span class="ml-2">
                            Buscar Cliente
                        </span>
                    </button>
                    @if (tieneDatos) {
                    <button class="w-auto sm:w-48 sm:ml-4 m-2" mat-flat-button [color]="'accent'" type="button"
                        (click)="btnLimpiar()">
                        <span class="ml-2">
                            Limpiar Datos
                        </span>
                    </button>
                    }

                </div>
            </form>

            @if (tieneDatos) {

            <div
                class="xl:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden mt-2 table-container">
                <div class="overflow-x-auto mx-2"> <!-- Reducir margen horizontal -->
                    <table class="w-full bg-transparent text-sm" mat-table matSort [dataSource]="pageSlicePersona"
                        [trackBy]="trackByFn" #listaCatalogoHabitacionesTable> <!-- Reducir tamaño de fuente -->

                        <!-- Id del Servicio -->
                        <ng-container matColumnDef="idServicio">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef class="px-2 py-1">
                                Id del Servicio
                            </th>
                            <td mat-cell *matCellDef="let detalle" class="px-2 py-1"> <!-- Reducir padding -->
                                <span class="flex items-center">
                                    <span class="ml-2">{{detalle.idServicio}}</span> <!-- Reducir margin left -->
                                </span>
                            </td>
                        </ng-container>

                        <!-- Nombre del servicio -->
                        <ng-container matColumnDef="nombreServicio">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef class="px-2 py-1">
                                Nombre del servicio
                            </th>
                            <td mat-cell *matCellDef="let detalle" class="px-2 py-1">
                                <span class="flex items-center">
                                    <span class="ml-2">{{detalle.nombreServicio}}</span>
                                </span>
                            </td>
                        </ng-container>

                        <!-- Descripcion del servicio -->
                        <ng-container matColumnDef="descripcionServicio">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef class="px-2 py-1">
                                Descripcion del servicio
                            </th>
                            <td mat-cell *matCellDef="let detalle" class="px-2 py-1">
                                <span class="flex items-center">
                                    <span class="ml-2">{{detalle.descripcionServicio}}</span>
                                </span>
                            </td>
                        </ng-container>

                        <!-- Precio del Servicio -->
                        <ng-container matColumnDef="precioServicio">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef class="px-2 py-1">
                                Precio del Servicio
                            </th>
                            <td mat-cell *matCellDef="let detalle" class="px-2 py-1">
                                <span class="flex items-center">
                                    <span class="ml-2">{{detalle.precioServicio}}</span>
                                </span>
                            </td>
                        </ng-container>

                        <!-- Columna Seleccione -->
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef class="px-2 py-1">
                                Seleccione
                            </th>
                            <td mat-cell *matCellDef="let detalle" class="px-2 py-1">
                                <button mat-button color="primary" (click)="onSeleccionar(detalle)">
                                    Seleccionar
                                </button>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="catalogoTableColumns"></tr>
                        <tr class="order-row h-2" mat-row *matRowDef="let row; columns: catalogoTableColumns;"></tr>
                        <!-- Reducir height -->
                    </table>
                </div>
            </div>

            @if (selecccionTipoServicio) {
            <div
                class="xl:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden mt-2 table-container">
                <div class="overflow-x-auto mx-2"> <!-- Reducir margen horizontal -->
                    <table class="w-full bg-transparent text-sm" mat-table matSort [dataSource]="pageSliceSeleccionado"
                        [trackBy]="trackByFn"  > <!-- Reducir tamaño de fuente -->

                                    <!-- Precio del Servicio -->
                                    <ng-container matColumnDef="idServicio">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef class="px-2 py-1">
                                            Precio del Servicio
                                        </th>
                                        <td mat-cell *matCellDef="let detalle" class="px-2 py-1">
                                            <span class="flex items-center">
                                                <span class="ml-2">{{detalle.nombreServicio}}</span>
                                            </span>
                                        </td>
                                    </ng-container>
 
                        <!-- Nombre del servicio -->
                        <ng-container matColumnDef="nombreServicio">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef class="px-2 py-1">
                                Nombre del servicio
                            </th>
                            <td mat-cell *matCellDef="let detalle" class="px-2 py-1">
                                <span class="flex items-center">
                                    <span class="ml-2">{{detalle.descripcionServicio}}</span>
                                </span>
                            </td>
                        </ng-container>

                        <!-- Precio servicio -->
                        <ng-container matColumnDef="precioServicio">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef class="px-2 py-1">
                                Precio del servicio
                            </th>
                            <td mat-cell *matCellDef="let detalle" class="px-2 py-1">
                                <span class="flex items-center">
                                    <span class="ml-2">{{detalle.precioServicio}}</span>
                                </span>
                            </td>
                        </ng-container>
  
                        <tr mat-header-row *matHeaderRowDef="seleccionTableColumns"></tr>
                        <tr class="order-row h-2" mat-row *matRowDef="let row; columns: seleccionTableColumns;"></tr>
                        <!-- Reducir height -->
                    </table>
                </div>
            </div>

            }
            }

        </div>

    </div>
</div>